# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
solution
**/day*/solution

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Input files (if you want to exclude them)
# */*/input.txt

# Temporary files
